           .sp-o2-line{
            position: absolute;
            width: 130px;
            height: 25.5px;
            left: 12.5px;
            top: 64px;
           }
           
           .sp-o2-stop-result-bottom{
            position: absolute;
            width: 32px;
            height: 40px;
            left: 65px;
            top: 83px;

            font-family: 'Manrope';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 87px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #1AB58F;
           }
          .sp-o2-stop-result-top{
            position: absolute;
            width: 32px;
            height: 40px;
            left: 65px;
            top: 20px;

            font-family: 'Manrope';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 87px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #1AB58F;
          }
          .sp-o2stop-sp02-text{
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            text-align: right;
            color: #263540;
          }
       
          .sp-o2stop-container {
            width: 100%;
            height: 600px;
            display: flex;
            position: relative;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            z-index: 1000;
          }
          .-pin-container {
            width: 64rem;
            position:absolute;
            height: 600px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color:rgba(0, 0, 0, 0.354);
            z-index: 200;
            }
          .sp-o2stop-container1 {
            top: 0px;
            flex: 0 0 auto;
            left: 0px;
            right: 0px;
            width: 942.88px;
            bottom: 0px;
            height: 428px;
            margin: auto;
            display: flex;
            position: absolute;
            align-items: center;
            border-radius: 16px;
            justify-content: center;
            background-color: #ffffff;
          }
          .sp-o2stop-html-node {
            top: 26.83px;
            left: 35.77px;
            position: absolute;
          }
          .heart__division__bar{
            position: absolute;
            top:-18px;
            /* left: 0px; */
            left:80px;
            right:0px;
          }
          .sp-o2stop-button {
            top: 342px;
            left: 391px;
            color: #ffffff;
            width: 160px;
            bottom: 46px;
            height: 54px;
            display: flex;
            position: absolute;
            box-shadow: 5px 5px 20px 0px rgba(218, 85, 85, 0.16);
            text-align: center;
            align-items: center;
            border-width: 0px;
            border-radius: 10px;
            justify-content: center;
            background-color: #da5555;
          }
          .sp-o2stop-container2 {
            top: 105px;
            flex: 0 0 auto;
            left: 389px;
            right: 389px;
            width: 165px;
            height: 165px;
            display: flex;
            position: absolute;
            align-items: center;
            border-color: #1ab58f;
            border-width: 5px;
            border-radius: 50%;
            justify-content: center;
          }
          .sp-o2stop-text {
            left: 0px;
            color: #263540;
            right: 0px;
            width: 45px;
            bottom: 19px;
            height: 49px;
            margin: auto;
            position: absolute;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
          }
          .sp-o2stop-text1 {
            top: 40px;
            left: 32px;
            /* color: rgb(26, 181, 143); */
            color: #263540;
            position: absolute;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
          }
          .sp-o2stop-text5 {
            top: 100px;
            left: 40px;
            color: #263540;
            position: absolute;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            
          }
          .sp-o2stop-text6 {
            top: 118px;
            left: 80px;
            color: #263540;
            position: absolute;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
          }
          .sp-o2stop-text7 {
            top: 55px;
            left: 90px;
            color: #263540;
            position: absolute;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
          }
          .sp-o2stop-text8 {
            top: 21px;
            left: 0px;
            color: #1ab58f;
            right: 0px;
            width: 45px;
            height: 49px;
            margin: auto;
            position: absolute;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
          }